@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<MudLayout Class="d-flex flex-column" Style="min-height: 100vh;">
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@(_drawerOpen ? Icons.Material.Filled.Close : Icons.Material.Filled.Menu)" Color="Color.Inherit" Edge="Edge.Start"
        OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h6" Class="ml-3 title-spiritweb">SpiritWeb</MudText>
        <MudSpacer />
    </MudAppBar>
        
    <MudDrawer @bind-Open="@_drawerOpen" Elevation="2" Class="bodyback">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6" Class="title-menu">Menu</MudText>
        </MudDrawerHeader>
        <NavMenu OnLinkClick="DrawerClose" />
    </MudDrawer>

    <div class="content-wrapper" style="flex: 1; padding-bottom: 80px;"> 
        <SpiritWeb.Client.Pages.PageTransitionLayout>
            <MudMainContent Class="flex-grow-1">
                <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="main-container">
                    @Body
                </MudContainer>
            </MudMainContent>
        </SpiritWeb.Client.Pages.PageTransitionLayout>
    </div>
    <Footer Class="footer" />

   
</MudLayout>

<style>
    .bodyback {
        background-color: #4939d1;
        color: #fff;
    }

    .title-spiritweb, .title-menu {
        font-family: "Cambria", Cambria, serif;
    }

    .footer {
        margin-top: 2rem; /* Espace au-dessus du footer */
        padding: 1rem 0; /* Espace interne */
        position: relative;
        bottom: 0;
        width: 100%;
    }

    /* Optionnel : pour s'assurer que le contenu pousse le footer vers le bas */
    .content-wrapper {
        min-height: calc(100vh - [hauteur-du-footer]px);
        padding-bottom: [espace-souhaité]px;
    }
</style>
