@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout Class="d-flex flex-column" Style="min-height: 100vh;">
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
                       OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h6" Class="ml-3 title-spiritweb">SpiritWeb</MudText>
        <MudSpacer />
    </MudAppBar>

    <MudDrawer @bind-Open="@_drawerOpen" Elevation="2" Class="bodyback">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6" Class="title-menu">Menu</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>

    <div class="content-wrapper">
        <SpiritWeb.Client.Pages.PageTransitionLayout>
            <MudMainContent Class="flex-grow-1">
                <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="main-container">
                    @Body
                </MudContainer>
            </MudMainContent>
        </SpiritWeb.Client.Pages.PageTransitionLayout>
    </div>

    <Footer Class="footer" />
</MudLayout>

<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .content-wrapper {
        flex: 1 0 auto; /* Prend l'espace disponible */
        padding-bottom: 2rem; /* Espace avant le footer */
    }

    .main-container {
        padding-bottom: 2rem; /* Espace supplémentaire si nécessaire */
    }

    .footer {
        flex-shrink: 0; /* Empêche le footer de rétrécir */
        width: 100%;
    }

    /* Vos styles existants */
    html, body, .navmenu, .footer {
        font-family: "Cambria", Cambria, serif;
    }

    .bodyback {
        background-color: #4939d1;
        color: #fff;
    }

    .title-spiritweb, .title-menu {
        font-family: "Cambria", Cambria, serif;
    }
</style>